[Bb]in/

*.aps
*.vs/

# Visual studio ignores
*.sln
*.rc

**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# XCode ignores
DerivedData/
.DS_Store
MathsQuiz.xcodeproj/
MathsQuiz.xcworkspace/
